.menu-item-1 {
  background-color: #ffa751;
  padding: 15px 15px 5px 15px;
  text-align: center;
  border: 2px solid #000000;
  margin-bottom: 30px;
  height: 200px;
}

.menu-item-2 {
  background-color: #8DC26F;
  padding: 15px 15px 5px 15px;
  text-align: center;
  border: 2px solid #000000;
  margin-bottom: 30px;
  height: 200px;
}

.menu-item-3 {
  background-color: #e6e6e6;
  padding: 15px 15px 5px 15px;
  text-align: center;
  border: 2px solid #000000;
  margin-bottom: 30px;
  height: 200px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

body {
  color: #000 !important;
  font-size: 13px !important;
}

body {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  direction: ltr;
}

.menu-item-1 img {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-style: solid
}

.menu-item-2 img {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-style: solid
}

.menu-item-3 img {
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
}

.btn.blue {
  color: white;
  text-shadow: none;
  background-color: #0053a2;
}

.btn {
  white-space: normal;
  font-size: 13px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.specialisationName {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 10px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.bg-blue, .container-side.container-side-blue {
  background-color: #00539f;
}

.ngb-dp-day, .ngb-dp-week-number, .ngb-dp-weekday {
  width: 4rem !important;
  height: 4rem !important;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  margin-top: 3rem;
  font-size: 1.5rem;

}
.h4, h4 {
  font-size: 2rem;
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.menu-item-Chirurgia {
  background: #6c757d;
}
