<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<div>

  <table>
    <thead thead-dark>
    <tr>
      <th>Id</th>
      <th class="pointer"> Specjalizacja
        <button (click)="sort('specialisation')" scope="col">
          <img src="assets/sort.svg"/>
        </button>
      </th>
      <th scope="col">Data
        <button (click)="sort('date')" scope="col">
          <img src="assets/sort.svg"/>
        </button>
      </th>
      <th scope="col">Godzina
        <button (click)="sort('hour')" scope="col">
          <img src="assets/sort.svg"/>
        </button>
      </th>
      <th scope="col">Placówka
        <button (click)="sort('medicalCenter')" scope="col">
          <img src="assets/sort.svg"/>
        </button>
      </th>
      <th scope="col">Lekarz
        <button (click)="sort('doctor')" scope="col">
          <img src="assets/sort.svg"/>
        </button>
      <th scope="col">Dystans
        <button (click)="sort('distanse')" scope="col">
          <img src="assets/sort.svg"/>
        </button>
      </th>

      <th scope="col">Rezerwuj</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let appointment of listsModelsOfAppointments |  orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }">
      <td>{{appointment.id}}</td>
      <td>{{appointment.specialisation}}</td>
      <td>{{appointment.date | date: 'dd/MM/yyyy' }}</td>
      <td>{{appointment.date | date: 'mediumTime' }}</td>
      <td>{{appointment.medicalCenter}}</td>
      <td>{{appointment.doctor}}</td>
      <td>{{appointment.distanse}} km</td>
      <td>

        <button type="button" class="btn btn-success" (click)="getId(appointment)" data-toggle="modal"
                data-target="#exampleModalCenter">Rezerwuj
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Formularz rezerwacji wizyty</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form>
                  <div class="row">
                    <div class="col">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="">Imię i Nazwisko</span>
                        </div>
                        <input #nameLastname type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="email">E-mail</span>
                        </div>
                        <input #eMail type="inputEmail" class="form-control">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="colForm">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="specialisation">Specjalizacja</span>
                        </div>
                        <input type="text" class="form-control" value="{{appointment.specialisation}}" disabled>
                      </div>
                    </div>
                    <div class="colForm">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputEmail">Data</span>
                        </div>
                        <input type="text" class="form-control" value="{{appointment.date | date: 'medium'}}" disabled>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="colForm">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="lekarz">Lekarz</span>
                        </div>
                        <input type="text" class="form-control" value="{{appointment.doctor}}" disabled>
                      </div>
                    </div>
                    <div class="colForm">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="text">Placówka</span>
                        </div>
                        <input type="text" class="form-control" value="{{appointment.medicalCenter}}" disabled>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-success"
                        (click)="createReservation(appointment.id, nameLastname.value, eMail.value)" data-toggle="modal"
                        data-target="#demo-3"
                        data-dismiss="modal">Zatwierdź
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="demo-3" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered1">
            <div class="modal-content">
              <div class="modal-header">
                <div class="icon-box">
                  <i class="material-icons">&#xE876;</i>
                </div>
                <h4 class="modal-title"><b>Doskonale!</b></h4>
              </div>
              <div class="modal-body">
                <p class="text-center">Twoja rezerwacja wizyty, która odbędzie się {{appointment.doctor}} dnia
                  <b>{{appointment.date | date: short}} </b> została potwierdzona. Szczegóły wizyty zostały wysłany na
                  Twój E-Maila: {{eMail.value}}  </p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<pagination-controls previousLabel="Wcześniejsza strona" nextLabel="Następna strona"
                     (pageChange)="p = $event"></pagination-controls>
</body>
</html>
