body {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.4rem;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.table-hover {
  background-color: #cfd8dc;
}

.pointer {
  cursor: pointer;
}

.modal {
  width: auto;
  height: auto;
}

.modal-body {
  width: auto;
  height: auto;
}

nav {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.ngx-pagination {
  margin-left: -2% !important;
  margin-bottom: 2rem;
  font-size: 12px;
  margin-top: -30px;
}

.colForm {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  flex-basis: 0;
  webkit-box-flex: 1;
  ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.modal-footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-dialog-centered1 {
  color: #636363;
  width: 325px;
}

.modal-dialog-centered1 .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  margin-top: 50%;
}

.modal-dialog-centered1 .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-dialog-centered1 h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}

.modal-dialog-centered1 .form-control, .modal-dialog-centered1 .btn {
  min-height: 40px;
  border-radius: 3px;
}

.modal-dialog-centered1 .close {
  position: absolute;
  top: -5px;
  right: -5px;
}

.modal-dialog-centered1 .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}

.modal-dialog-centered1 .icon-box {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-dialog-centered1 .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
}

.modal-dialog-centered1.modal-dialog {
  margin-top: 80px;
}

.modal-dialog-centered1 .btn {
  color: #fff;
  border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modal-dialog-centered1 .btn:hover, .modal-dialog-centered1 .btn:focus {
  background: #6fb32b;
  outline: none;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.modal-dialog {
  margin-top: 15%;
}
