ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3a3f46 !important;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

li a:hover {
  background-color: #111;
  color: white;
}
.active {
  background-color: #4CAF50;
  color: white;
}
.bg-home {
  background-image: url("http://www.bio-medical.btest.pl/wp-content/uploads/2016/08/cropped-Fotolia_65704515_Subscription_Monthly_XXL.jpg");
  background-color: #cccccc;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}
