<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="content">
</div>
<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="logo"><a href="#"> PW </a></h2>
      </div>
      <div class="col-sm-3">
        <h5>Menu</h5>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="formSpecialisation">Znajdź lekarza / Umów wizytę</a></li>
          <!--        <li><a href="info">Informacje o projekcie</a></li>-->
          <li><a (click)="logout()">Wyloguj</a></li>
        </ul>
      </div>

      <div class="col-sm-4 info">
        <h5>Projekt</h5>
        <p> Projekt zrealizowany w ramach pracy dyplomowej, magisterskiej: "Analiza i zastosowanie dostępnych algorytmów
          do wyszukiwania lekarzy w systemach internetowych do obsługi pacjentów."
        </p>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="https://twitter.com/PW_edu" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/politechnika.warszawska/" class="facebook"><i
            class="fa fa-facebook"></i></a>
          <a
            href="https://www.google.com/maps/d/viewer?ie=UTF8&hl=pl&msa=0&ll=52.21599492681444%2C21.015601164062446&spn=0.013146%2C0.021458&z=14&source=embed&mid=18AGl37Lqww0vjYkox6pNiYP2E9g"
            class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <a href="mailto:295376@pw.edu.pl" class="btn btn-default" type="button">Skontaktuj się z Nami</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2019 Politechnika Warszawska </p>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
