<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<div *ngIf="specialisation">

  <div class="main">

    <div class="container">

      <h1 class="titleContainer"><b>Wyszukiwanie zaawansowane</b></h1>

      <div class="row">

        <div class="col-sm-4 col-md-4">

          <div class="form-group">
            <label for="disabledTextInput">Wybrana specjalizacja : </label>
            <input type="text" id="disabledTextInput" class="form-control" [(ngModel)]="specialisation.name"
                   placeholder="Disabled input" disabled>
            <hr/>
          </div>
        </div>

        <div class="col-sm-4 col-md-4">
          <div class="form-group">
            <label for="disabledTextInput">Wprowadź swój adres : </label>
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback" (click)="findNearestDoctor(insertedAddress.value)"></span>
              <input #insertedAddress type="text" class="form-control" placeholder="Search">
            </div>
            <hr/>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">

          <div class="form-group">
            <label for="disabledTextInput">Data wizyty (od) : </label>
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </form>
            <hr/>
          </div>
        </div>
      </div>

      <div class="row">

        <div *ngIf="specialisation" class="btn-group">

          <button a href="#" class="btn btn-primary" (click)="findNearestDoctor(insertedAddress.value)">Znajdź
            najbliższą placówkę
          </button>
        </div>
      </div>
    </div>

  </div>
</div>

<!--<div *ngIf="listOfMedicalFacility">-->
  <div *ngIf="insertedAddress">

  <app-maps [listOfMedicalFacility]="listOfMedicalFacility"
            [listMedicalCenter]="listsMedicalCenterFromAppointments"
            [listsModelsOfAppointments]="listsModelsOfAppointments"
            [insertedAddress]="insertedAddress"
            [show]="show">
  </app-maps>
</div>

<div *ngIf="listsModelsOfAppointments">

  <app-lists-appointment [listsModelsOfAppointments]="listsModelsOfAppointments" [observables]="observables"
                         [listOfMedicalFacility]="listOfMedicalFacility"></app-lists-appointment>
</div>
</body>
</html>

