<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">

  <div class="card card-container">
    <h4><p align="center">Zaloguj się do Systemu wyszukiwania lekarza</p></h4>

    <img id="profile-img" class="profile-img-card" src="https://thumb.ibb.co/jocV7q/Bitmap-in-Untitled-1.jpg"/>
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" (ngSubmit)="login()">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="inputEmail" class="form-control" placeholder="E-mail adres" required autofocus>
      <input type="password" id="password" class="form-control" placeholder="Hasło" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Zaloguj się</button>
    </form>
  </div>
</div>
