/* You can add global styles to this file, and also import other style files */

.ngb-dp-day,.ngb-dp-week-number,.ngb-dp-weekday {
  width:3.5rem !important;
  height:3.5rem !important;
}
.ngd-datapicker{
  font-size: 2rem !important;
}
ngb-datepicker-month-view {
  display: block;
  font-size: 2.0rem !important;
}
ngb-datepicker-navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2.0rem !important;
}

ngb-datepicker {
  border: 3px solid #dfdfdf !important;
  border-radius: .25rem;
  display: inline-block;
  font-size: 5rem !important;
}
.ngx-pagination {
  margin-bottom: 2rem;
  margin-top: auto;
  font-size: 14px;
  text-align: center;
}
