<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<div class="container">
  <div *ngIf="listMedicalCenter || latBasedOnInsertedAddress || lngBasedOnInsertedAddress">
    <h1 class="titleContainer">Mapa dostępnych placówek</h1>
    <button type="button" class="btn btn-success" (click)="findNearestMedicalFacility(markers)"> Pokaż najkrótszą
      trasę
    </button>
    <button type="button" class="btn btn-success" (click)="removeDirection()"> Usuń trasę</button>

    <agm-map
      [latitude]="latBasedOnInsertedAddress"
      [longitude]="lngBasedOnInsertedAddress"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="$event">

      <agm-marker
        *ngFor="let m of listMedicalCenter; let i = index"
        (markerClick)="clickedMarker(m.name, i)"
        [latitude]="m.latitude"
        [longitude]="m.longitude"
        [label]="i"
        [markerDraggable]="m.dragable"
        (dragEnd)="markerDragEnd(m, $event)">

        <agm-info-window>
          <div>
            <strong> Placówka : {{m.name}} </strong>
          </div>
        </agm-info-window>
      </agm-marker>

      <agm-direction [origin]="origin"
                     [travelMode]="travelMode"
                     [destination]="destination"
                     [renderOptions]="renderOptions"
                     [visible]="show">
      </agm-direction>

      <agm-marker
        (markerClick)="clickedMarker()"
        [latitude]="latBasedOnInsertedAddress"
        [longitude]="lngBasedOnInsertedAddress"
        [iconUrl]="iconForUserPositionUrl">

        <agm-info-window>
          <div>
            <strong> Twoja lokalizacja : {{insertedAddress}} </strong>
          </div>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
</body>
</html>
