.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}

.table-user-information > tbody > tr > td {
  border-top: 0;
}

.toppad {
  margin-top: 20px;
}

.btn-primary {
  margin: 3px
}

.patientName {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  margin-top: 10px;
}

.bg {
  background-image: url("http://www.bio-medical.btest.pl/wp-content/uploads/2016/08/cropped-Fotolia_65704515_Subscription_Monthly_XXL.jpg");

  /* Full height */
  weight: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-info > .panel-heading {
  color: #000000;
  background-color: #c35a5a;
  border-color: #000000;
}

.panel-info {
  border: 1px solid #000000;
}

.panel-title {
  font-size: 2.5rem;
  text-align: center;
}

.panel-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  font-size: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3a3f46 !important;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: #111;
  color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.bg-home {
  background-image: url("http://www.bio-medical.btest.pl/wp-content/uploads/2016/08/cropped-Fotolia_65704515_Subscription_Monthly_XXL.jpg");
  background-color: #cccccc;
  height: 500px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}
